body {
    background-image: linear-gradient(to right, red 0%, orange 25%, yellow 50%, green 100%);
    /* gradiente beeeeem legal do reggae */
    font-family: "Asimovian", sans-serif;
    font-weight: 400;
    font-style: normal;
}



#escola {
    color: rgb(2, 2, 2);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 90px;
    height: 40px;
    font-size: 10px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}

h1 {
    letter-spacing: 5px;
    font-weight: 900;
    margin: 70px 343px 90px 335px;
    border: solid 5px rgb(0, 0, 0);
    border-radius: 10px;
    text-align: center;
    padding: 50px 100px 50px 100px;
    text-decoration: line-through;
    text-decoration: underline;
    cursor: pointer;
    color: rgb(0, 0, 0);
    background-image: linear-gradient(to right, #E3E3E3, #A8A9AD);
}

